# Có thể bỏ REGISTRY_URL để script tự lấy IP container.
REGISTRY_URL='http://10.0.6.2:5000'
REGISTRY_CONTAINER='registry-your-container-name'
REGISTRY_CONFIG='/etc/docker/registry/config.yml'
REGISTRY_PORT=5000

KEEP_PRODUCTION=3

# Bỏ trống nếu gọi IP nội bộ không cần authentication.
REGISTRY_USERNAME='your-username'
REGISTRY_PASSWORD='your-password'
